<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>typesDeCourse</key>
	<array>
		<string>vélo</string>
		<string>course</string>
		<string>marche</string>
	</array>
	<key>zoom</key>
	<array>
		<integer>500</integer>
		<integer>250</integer>
		<integer>200</integer>
	</array>
</dict>
</plist>
